---
title: "Design tokens and style guides with Eleventy!"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>{% include "css/main.css" %}</style>
  </head>
  <body>
    <header role="banner">
      <h1>{{ title }}</h1>
    </header>

    <main class="main" role="main" id="main">
      {% include "styleguide.njk" %}
    </main>

  </body>
</html>

